:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Estilos para el navbar */

.navbar-home {
  background-color: #242424;
}

.brand-link {
  color: #e44d26; /* Color naranja */
}

.nav-link {
  color: #fff; /* Color blanco */
}

.enlace-navbar{
  color: #e44d26;
}

.profile-brand img {
  filter: invert(1); /* Invierte el color de la imagen */
}

/* Estilos para el footer */

.footer_main {
  background-color: #fff;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgb(87, 86, 86);
  box-shadow: 0px 0px 71px -24px rgba(0, 0, 0, 1) inset;
  z-index: 1;
}

.footer_titulo {
  width: 20vw;
  color: #0a0a0a;
  text-align: center;
  margin: 0;
}

.footer_logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 120px; 
  height: auto; 
  margin-right: 10px;
}

.footer_links {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  
}

.enlace-footer {
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  margin: 3px;
  padding: 5px 10px;
  font-size: 1rem;
  color: #0a0a0a;
}

.enlace-footer:hover {
  color: #e44d26;
}

.footer_iconos {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}

.footer_iconos a {
  font-size: 1.3rem;
  color: rgb(14, 13, 13);
}

.footer_iconos a:hover {
  color: #e44d26;
}

/* Estilos para el copyright */

.copyright {
  position: fixed;
  width: 100%;
  background-color: #242424;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

/*  estilos para el header */

.header-section {
  background-image: url('../public/assets/images/fondo.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  text-align: center;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
}

